@{
    ViewBag.Title = "PostAddToCartPage";
}

<h2>@Model.ProductsName Added to Cart!</h2>

<h1>@Model.ProductsName successfully added to cart!</h1>
<p>@Html.ActionLink("Click here", "Index", "Home") to return home</p>