
@{
    ViewBag.Title = "AdminLawsPage";
}

<h2>Admin Laws Page</h2>

<ul>
    <li>@Html.ActionLink("Add Law", "AddLaw", "Admin")</li>
    <li>@Html.ActionLink("Edit Law", "EditLaw", "Admin")</li>
    <li>@Html.ActionLink("Remove Law", "RemoveLawList", "Admin")</li>
</ul>

