
@{
    ViewBag.Title = "Admin Product Page";
}
<h2>Admin Product Page</h2>
<ul>
    <li>@Html.ActionLink("Add a product", "AddProduct", "Admin")</li>
    <li>@Html.ActionLink("Edit a product", "EditProduct", "Admin")</li>
</ul>
