
@{
    ViewBag.Title = "Admin Category Page";
}
<h2>Admin Category Page</h2>
<ul>
    <li>@Html.ActionLink("Add a category", "AddCategory", "Admin")</li>
    <li>@Html.ActionLink("Remove a Category", "RemoveCategoryList", "Admin")</li>
</ul>
