
@{
    ViewBag.Title = "Admin Gallery Page";
}
<h2>Admin Gallery Page</h2>
<ul>
    <li>@Html.ActionLink("Add to Gallery", "AddPhoto", "Admin")</li>
    <li>@Html.ActionLink("Edit Gallery Photo", "EditPhoto", "Admin")</li>
</ul>
