
@{
    ViewBag.Title = "AdminNewsPage";
}

<h2>Admin News Page</h2>

<ul>
    <li>@Html.ActionLink("Add News", "AddNews", "Admin")</li>
    <li>@Html.ActionLink("Edit News", "EditNews", "Admin")</li>
</ul>

