
@{
    ViewBag.Title = "ConfirmRemoveCategory";
}
<h2>Confirm Category Removal</h2>
<p>Are you sure you want to remove the @Model.CategoriesName category?</p>
<p>@Html.ActionLink("Yes", "RemoveCategory", "Admin", new { id = @Model.CategoriesId }, null) @Html.ActionLink("No", "RemoveCategoryList", "Admin")</p>