
@{
    ViewBag.Title = "ConfirmRemoveNews";
}

<h2>Confirm Remove News</h2>

<p>Are you sure you want to remove the @Model.NewsTitle news?</p>
<p>@Html.ActionLink("Yes", "RemoveNews", "Admin", new { id = Model.NewsId }, null) @Html.ActionLink("No", "RemoveNewsList", "Admin")</p>