
@{
    var laws = FrozenCritters.Models.FrozenCrittersDb.GetLaws();
}

<h2>Select Product</h2>
<ul>
    @{
        foreach (var law in laws)
        {
            <li class="editProductList">@Html.ActionLink(law.LawsTitle, "LawForm", "Admin", new { id = law.LawsId }, null) </li>
        }
    }
</ul>


