
@{
    ViewBag.Title = "Admin Page";
}
<h2>Admin Page</h2>
<ul>
    <li>@Html.ActionLink("Products", "AdminProductPage", "Admin")</li>
    <li>@Html.ActionLink("Photos", "AdminPhotoPage", "Admin")</li>
    <li>@Html.ActionLink("Categories", "AdminCategoryPage", "Admin")</li>
    <li>@Html.ActionLink("News", "AdminNewsPage", "Admin") </li>
</ul>

