
@{
    ViewBag.Title = "Contact";
    var contactInfo = FrozenCritters.Models.FrozenCrittersDb.GetContact();
}

<h2>Contact</h2>

<p>Email: @contactInfo.ContactEmail</p>
<p>Phone: @contactInfo.ContactPhoneNumber</p>
<p>Hours: @contactInfo.ContactHours</p>

