a {
    color: grey;
}

#LogIn {
    float: left;
    font-size: 20px;
    padding: 15px;
    font-family: Arial;
}

.LogIn2 {
    float: left;
    font-size: 20px;
    padding: 15px;
    font-family: Arial;
}

#header {
    padding: 0;
    margin: 0;
    border-bottom: black solid;
}

#header1 {
    font-family: 'Bell MT';
    font-size: 7vw;
    color: black;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    white-space: nowrap;
}

#header2 {
    font-family: 'Bell MT';
    font-size: 2.5vw;
    color: black;
    text-align: center;
    margin-top: -50px;
}

#myCarousel img {
    max-height: 25%;
    max-width: 100%;
    width: auto;
    height: auto;
}

#myCarousel {
    margin: 0 auto;
    max-height: 25%;
    max-width: 80%;
    width: auto;
    height: auto;
    display: block;
    overflow: hidden;
}

#bodyWrapper {
    text-align: center;
}

#cart {
    float: right;
    z-index: -1;
}

#menuImg {
    width: 35px;
}

#featuredSaleItems {
    text-align: center;
    font-size: 42px;
    font-family: 'Bell MT';
    text-decoration: underline;
}

ul.products {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

    ul.products li {
        width: 200px;
        display: inline-block;
        vertical-align: top;
        margin: 20px;
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
    }


#featuredSaleItems {
    text-align: center;
    font-size: 42px;
    font-family: 'Bell MT';
    text-decoration: underline;
}

ul.products {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    list-style-type: none;
}

    ul.products li {
        width: 200px;
        display: inline-block;
        vertical-align: top;
        margin: 20px;
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
    }

.productHover {
    border-style: solid;
    border-color: #000;
}

.productName {
    font-size: 25px;
    font-family: Arial;
    text-align: center;
}

.productPrice {
    font-size: 20px;
    font-family: Arial;
}

.productDescription {
    font-size: 15px;
    font-family: Arial;
}

img {
    width: 190px;
}

.newsHeadLine {
    text-align: center;
    font-size: 42px;
    font-family: 'Bell MT';
    text-decoration: underline;
}

.nav navbar-nav {
    background-color: white;
    color: black;
}

.prices {
    text-align: center;
}

.fullPrice {
    text-decoration: line-through;
    font-size: 20px;
    font-family: Arial;
    text-align: center;
}

.salePrice {
    color: red;
    font-size: 20px;
    font-family: Arial;
    text-align: center;
}

#indiProductContainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row /* works with row or column */
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding-bottom: 10vw;
    /*min-width: 1000px;*/
}

#indiProductFullPriceSale {
    font-size: 2.5vw;
    text-decoration: line-through;
}

#indiProductFullPrice {
    font-size: 2.5vw;
}

#indiProductSalePrice {
    color: red;
    font-size: 2.5vw;
}

#indiProductPrice {
    font-size: 2.5vw;
}

#indiProductQuantity {
    font-size: 1vw;
}

#indiProductDescription {
    font-size: 1vw;
}

#copyright {
    text-align: center;
    padding-top: 50px;
}

.checkboxPosition {
    float: left;
}

.rememberMe {
    text-align: center;
}

.registerFormContainer {
    margin: 0 auto;
}

.registerForm {
    width: 500px;
    clear: both;
    margin: 0 auto;
}

    .registerForm input {
        width: 100%;
        clear: both;
    }

.registerButton {
    text-align: center;
}

#userALocalAccount {
    font-weight: bold;
}

ul.galleryPhotos {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    list-style-type: none;
}

    ul.galleryPhotos li {
        width: 200px;
        display: inline-block;
        vertical-align: top;
        margin: 20px;
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
    }

textarea {
    float: left;
    margin:0 auto;
}

form{
    display:inline-block;
    text-align:center;
    font-weight:bold;
}

label {
  display: inline-block;
  width: 140px;
}​

.photoLabel {
    float: left;
    font-weight: bold;
}

 .adminForm{
     width:37vw;
 }

@media only screen and (min-width:320px) {
    body {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    #header1 {
        font-family: 'Bell MT';
        font-size: 7vw;
        color: black;
        text-align: center;
        padding: 0;
        margin: 0 auto;
        white-space: nowrap;
        padding-bottom: 6vw;
    }

    #header2 {
        font-family: 'Bell MT';
        font-size: 2.5vw;
        color: black;
        text-align: center;
        margin-top: -50px;
    }

    .navPhone {
        width: 60px;
        height: 60px;
        background-color: #fff;
    }

    .ulnavbar {
        padding: 0;
        list-style: none;
        font-family: 'Bell MT';
        background-color: white;
        font-size: 20px;
        display: none;
        overflow: hidden;
    }

    .linavbar {
        background-color: white;
    }

    .ulnavbar .linavbar {
        position: relative;
        line-height: 21px;
    }

    .ulnavbar .linavbar a {
        display: block;
        padding: 8px 25px;
        color: #333;
        text-decoration: none;
    }

    .ulnavbar .linavbar a:hover {
        color: white;
        background-color: black;
    }

    .ulnavbar .linavbar ul.dropdown {
        min-width: 100%;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }

    .ulnavbar .linavbar:hover ul.dropdown {
        display: block;
    }

    .ulnavbar .linavbar ul.dropdown .linavbar {
        display: block;
    }

    ul {
        padding: 0;
        list-style-type: none;
    }

    .dropdown .linavbar {
        background-color: #c9c9c9;
    }

    #indiProductContainer{
        flex-flow:wrap;
        justify-content:space-between;
    }

    #mainPhotoContainer{
        width:75vw;
    }

    #photos {
        width: 75vw;
        margin:0 auto;
    }

    #mainPhoto {
        padding-bottom: 10px;
        width: 75vw;
    }

    .altPhotoContainer {
        flex-flow: wrap;
        justify-content: space-around;
    }

    .altPhotos {
        width: 16vw;
    }

    #productDetails {
        width: 50vw;
        margin:0 auto;
    }

    #indiProductSalePrice{
        font-size: 3.5vw;
    }

    #indiProductFullPrice{
        font-size: 3.5vw;
    }

    #indiProductFullPriceSale{
        font-size: 3.5vw;
    }

    #indiProductQuantity{
        font-size: 3.5vw;
    }

    #indiProductDescription{
        font-size: 3.5vw;
    }

    #indiProductName {
        font-size: 6vw;
        float: none;
    }
}

@media only screen and (min-width:450px) {
    body {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    #myCarousel {
        margin-top: 0;
    }

    #header1 {
        font-family: 'Bell MT';
        font-size: 7vw;
        color: black;
        text-align: center;
        padding: 0;
        margin: 0 auto;
        white-space: nowrap;
        padding-bottom: 6vw;
    }

    #header2 {
        font-family: 'Bell MT';
        font-size: 2.5vw;
        color: black;
        text-align: center;
        margin-top: -50px;
    }

    .navPhone {
        width: 60px;
        height: 60px;
        background-color: #fff;
    }

    .ulnavbar {
        padding: 0;
        list-style: none;
        font-family: 'Bell MT';
        background-color: white;
        font-size: 20px;
        display: none;
        overflow: hidden;
    }

    .linavbar {
        background-color: white;
    }

    .ulnavbar .linavbar {
        position: relative;
        line-height: 21px;
    }

    .ulnavbar .linavbar a {
        display: block;
        padding: 8px 25px;
        color: #333;
        text-decoration: none;
    }

    .ulnavbar .linavbar a:hover {
        color: white;
        background-color: black;
    }

    .ulnavbar .linavbar ul.dropdown {
        min-width: 100%;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }

    .ulnavbar .linavbar:hover ul.dropdown {
        display: block;
    }

    .ulnavbar .linavbar ul.dropdown .linavbar {
        display: block;
    }

    ul {
        padding: 0;
        list-style-type: none;
    }

    .dropdown .linavbar {
        background-color: #c9c9c9;
    }

    #indiProductContainer{
        flex-flow:wrap;
        justify-content:space-between;
    }

    #photos {
        width: 75vw;
        margin:0 auto;
    }

    #mainPhoto {
        padding-bottom: 10px;
        width: 75vw;
    }

    .altPhotoContainer {
        flex-flow: wrap;
        justify-content: space-around;
    }

    .altPhotos {
        width: 16vw;
    }

    #productDetails {
        width: 50vw;
        margin:0 auto;
    }

    #indiProductSalePrice{
        font-size: 3.5vw;
    }

    #indiProductFullPrice{
        font-size: 3.5vw;
    }

    #indiProductFullPriceSale{
        font-size: 3.5vw;
    }

    #indiProductQuantity{
        font-size: 3.5vw;
    }

    #indiProductDescription{
        font-size: 3.5vw;
    }

    #indiProductName {
        font-size: 6vw;
        float: none;
    }
}

@media only screen and (min-width:480px) {
    body {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    #myCarousel {
        margin-top: 0;
    }

    #header1 {
        font-family: 'Bell MT';
        font-size: 7vw;
        color: black;
        text-align: center;
        padding: 0;
        margin: 0 auto;
        white-space: nowrap;
        padding-bottom: 3vw;
    }

    #header2 {
        font-family: 'Bell MT';
        font-size: 2.5vw;
        color: black;
        text-align: center;
        margin-top: -50px;
    }

    .navPhone {
        width: 60px;
        height: 60px;
        background-color: #fff;
    }

    .ulnavbar {
        padding: 0;
        list-style: none;
        font-family: 'Bell MT';
        background-color: white;
        font-size: 20px;
        display: none;
        overflow: hidden;
    }

    .linavbar {
        background-color: white;
    }

    .ulnavbar .linavbar {
        position: relative;
        line-height: 21px;
    }

    .ulnavbar .linavbar a {
        display: block;
        padding: 8px 25px;
        color: #333;
        text-decoration: none;
    }

    .ulnavbar .linavbar a:hover {
        color: white;
        background-color: black;
    }

    .ulnavbar .linavbar ul.dropdown {
        min-width: 100%;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }

    .ulnavbar .linavbar:hover ul.dropdown {
        display: block;
    }

    .ulnavbar .linavbar ul.dropdown .linavbar {
        display: block;
    }

    ul {
        padding: 0;
        list-style-type: none;
    }

    #indiProductContainer{
        flex-flow:wrap;
        justify-content:space-between;
    }

    #photos {
        width: 75vw;
        margin:0 auto;
    }

    #mainPhoto {
        padding-bottom: 10px;
        width: 75vw;
    }

    .altPhotoContainer {
        flex-flow: wrap;
        justify-content: space-around;
    }

    .altPhotos {
        width: 16vw;
    }

    #productDetails {
        width: 50vw;
        margin:0 auto;
    }

    #indiProductSalePrice{
        font-size: 3.5vw;
    }

    #indiProductFullPrice{
        font-size: 3.5vw;
    }

    #indiProductFullPriceSale{
        font-size: 3.5vw;
    }

    #indiProductQuantity{
        font-size: 3.5vw;
    }

    #indiProductDescription{
        font-size: 3.5vw;
    }

    #indiProductName {
        font-size: 6vw;
        float: none;
    }
}

@media only screen and (min-width:600px) {
    body {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    #myCarousel {
        margin-top: 0;
    }

    #header1 {
        font-family: 'Bell MT';
        font-size: 7vw;
        color: black;
        text-align: center;
        padding: 0;
        margin: 0 auto;
        white-space: nowrap;
        padding-bottom: 2vw;
    }

    #header2 {
        font-family: 'Bell MT';
        font-size: 2.5vw;
        color: black;
        text-align: center;
        margin-top: -50px;
    }

    .navPhone {
        width: 60px;
        height: 60px;
        background-color: #fff;
    }

    .ulnavbar {
        padding: 0;
        list-style: none;
        font-family: 'Bell MT';
        background-color: white;
        font-size: 20px;
        display: none;
        overflow: hidden;
    }

    .linavbar {
        background-color: white;
    }

    .ulnavbar .linavbar {
        position: relative;
        line-height: 21px;
    }

    .ulnavbar .linavbar a {
        display: block;
        padding: 8px 25px;
        color: #333;
        text-decoration: none;
    }

    .ulnavbar .linavbar a:hover {
        color: white;
        background-color: black;
    }

    .ulnavbar .linavbar ul.dropdown {
        min-width: 100%;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }

    .ulnavbar .linavbar:hover ul.dropdown {
        display: block;
    }

    .ulnavbar .linavbar ul.dropdown .linavbar {
        display: block;
    }

    ul {
        padding: 0;
        list-style-type: none;
    }

    #indiProductContainer{
        flex-flow:wrap;
        justify-content:space-between;
    }

    #mainPhotoContainer{
        width:50vw;
    }

    #photos {
        width: 50vw;
        margin:0 auto;
    }

    #mainPhoto{
        width: 50vw;
    }

    #mainPhoto {
        padding-bottom: 10px;
        width: 50vw;
    }

    .altPhotoContainer {
        flex-flow: wrap;
        justify-content: space-around;
    }

    .altPhotos {
        width: 12vw;
    }

    #productDetails {
        width: 50vw;
        margin:0 auto;
    }

    #indiProductSalePrice{
        font-size: 3.5vw;
    }

    #indiProductFullPrice{
        font-size: 3.5vw;
    }

    #indiProductFullPriceSale{
        font-size: 3.5vw;
    }

    #indiProductQuantity{
        font-size: 3.5vw;
    }

    #indiProductDescription{
        font-size: 3.5vw;
    }

    #indiProductName {
        font-size: 6vw;
        float: none;
    }
}

@media only screen and (min-width:768px) {
    body {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    #myCarousel {
        margin-top: 0;
    }

    #header1 {
        font-family: 'Bell MT';
        font-size: 7vw;
        color: black;
        text-align: center;
        padding: 0;
        margin: 0 auto;
        white-space: nowrap;
        padding-bottom: 1vw;
    }

    #header2 {
        font-family: 'Bell MT';
        font-size: 2.5vw;
        color: black;
        text-align: center;
        margin-top: -50px;
    }

    .navPhone {
        width: 60px;
        height: 60px;
        background-color: #fff;
    }

    .ulnavbar {
        padding: 0;
        list-style: none;
        font-family: 'Bell MT';
        background-color: white;
        font-size: 20px;
        display: none;
        overflow: hidden;
    }

    .linavbar {
        background-color: white;
    }

    .ulnavbar .linavbar {
        position: relative;
        line-height: 21px;
    }

    .ulnavbar .linavbar a {
        display: block;
        padding: 8px 25px;
        color: #333;
        text-decoration: none;
    }

    .ulnavbar .linavbar a:hover {
        color: white;
        background-color: black;
    }

    .ulnavbar .linavbar ul.dropdown {
        min-width: 100%;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }

    .ulnavbar .linavbar:hover ul.dropdown {
        display: block;
    }

    .ulnavbar .linavbar ul.dropdown .linavbar {
       display: block;
    }

    ul {
        padding: 0;
        list-style-type: none;
    }

    #indiProductContainer{
        flex-flow:wrap;
        justify-content:space-between;
    }

    #photos {
        width: 50vw;
        margin:0 auto;
    }

    #mainPhoto {
        padding-bottom: 10px;
        width: 50vw;
    }

    .altPhotoContainer {
        flex-flow: wrap;
        justify-content: space-around;
    }

    .altPhotos {
        width: 10vw;
    }

    #productDetails {
        width: 50vw;
        margin:0 auto;
    }

    #indiProductSalePrice{
        font-size: 3.5vw;
    }

    #indiProductFullPrice{
        font-size: 3.5vw;
    }

    #indiProductFullPriceSale{
        font-size: 3.5vw;
    }

    #indiProductQuantity{
        font-size: 3.5vw;
    }

    #indiProductDescription{
        font-size: 3.5vw;
    }

    #indiProductName {
        font-size: 6vw;
        float: none;
    }
}

@media only screen and (min-width:800px) {
    body {
        width: 70%;
        margin: 0 auto;
        padding: 0;
    }

    #myCarousel {
        margin-top: 0;
    }

    #header1 {
        font-family: 'Bell MT';
        font-size: 7vw;
        color: black;
        text-align: center;
        padding: 0;
        margin: 0 auto;
        white-space: nowrap;
    }

    #header2 {
        font-family: 'Bell MT';
        font-size: 2.5vw;
        color: black;
        text-align: center;
        margin-top: -50px;
    }

    .navPhone {
        width: 60px;
        height: 60px;
        background-color: #fff;
    }

    .ulnavbar {
        padding: 0;
        list-style: none;
        font-family: 'Bell MT';
        background-color: white;
        font-size: 20px;
        display: none;
        overflow: hidden;
    }

    .linavbar {
        background-color: white;
    }

    .ulnavbar .linavbar {
        position: relative;
        line-height: 21px;
    }

    .ulnavbar .linavbar a {
        display: block;
        padding: 8px 25px;
        color: #333;
        text-decoration: none;
    }

    .ulnavbar .linavbar a:hover {
        color: white;
        background-color: black;
    }

    .ulnavbar .linavbar ul.dropdown {
        min-width: 100%;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }

    .ulnavbar .linavbar:hover ul.dropdown {
        display: block;
    }

    .ulnavbar .linavbar ul.dropdown .linavbar {
        display: block;
    }

    ul {
        padding: 0;
        list-style-type: none;
    }

    #indiProductContainer{
        flex-flow:wrap;
        justify-content:space-between;
    }

    #photos {
        width: 50vw;
        margin:0 auto;
    }

    #mainPhoto {
        padding-bottom: 10px;
        width: 50vw;
    }

    .altPhotoContainer {
        flex-flow: wrap;
        justify-content: space-around;
    }

    .altPhotos {
        width: 10vw;
    }

    #productDetails {
        width: 50vw;
        margin:0 auto;
    }

    #indiProductSalePrice{
        font-size: 3.5vw;
    }

    #indiProductFullPrice{
        font-size: 3.5vw;
    }

    #indiProductFullPriceSale{
        font-size: 3.5vw;
    }

    #indiProductQuantity{
        font-size: 3.5vw;
    }

    #indiProductDescription{
        font-size: 3.5vw;
    }

    #indiProductName {
        font-size: 6vw;
        float: none;
    }
}

@media only screen and (min-width:1000px) {
    body {
        width: 70%;
        margin: 0 auto;
        padding: 0;
    }

    #myCarousel {
        margin-top: 0;
    }

    #header1 {
        font-family: 'Bell MT';
        font-size: 7vw;
        color: black;
        text-align: center;
        padding: 0;
        margin: 0 auto;
        white-space: nowrap;
    }

    #header2 {
        font-family: 'Bell MT';
        font-size: 2.5vw;
        color: black;
        text-align: center;
        margin-top: -50px;
    }

    .navPhone {
        width: 60px;
        height: 60px;
        background-color: #fff;
        display: none;
    }

    .ulnavbar {
        padding: 0;
        list-style: none;
        font-family: 'Bell MT';
        background-color: white;
        font-size: 20px;
        display: inline !important;
        overflow: hidden;
    }

        .ulnavbar .linavbar {
            display: inline-block;
            position: relative;
            line-height: 21px;
            text-align: left;
        }

    .dropdown .linavbar {
        background-color: white;
    }

    .ulnavbar .linavbar a {
        display: block;
        padding: 8px 25px;
        color: #333;
        text-decoration: none;
    }

        .ulnavbar .linavbar a:hover {
            color: white;
            background-color: black;
        }

    .ulnavbar .linavbar ul.dropdown {
        min-width: 100%;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }

    .ulnavbar .linavbar:hover ul.dropdown {
        display: block;
    }

    .ulnavbar .linavbar ul.dropdown .linavbar {
        display: block;
    }

    #mainPhotoContainer{
        width:25vw;
    }

    #photos {
        width: 25vw;
        float: left;
    }

    #mainPhoto {
        padding-bottom: 10px;
        width: 25vw;
    }

    .altPhotoContainer {
        flex-flow: wrap;
        justify-content: space-around;
    }

    .altPhotos {
        width: 6vw;
    }

    #productDetails {
        float: left;
        width: 30vw;
        padding-bottom:5vw;
    }

    #indiProductName {
        font-size: 3.5vw;
        float: none;
    }

    #indiProductFullPrice{
        font-size:3vw;
    }

    #indiProductSalePrice{
        font-size:3vw;
    }

    #indiProductFullPriceSale{
        font-size:3vw;
    }

    #indiProductQuantity{
        font-size:2vw;
    }

    #indiProductDescription{
        font-size:1vw;
    }
}


/*LATEST STYLE SHEET*/
