
@{
    ViewBag.Title = "Gallery";
    var photos = FrozenCritters.Models.FrozenCrittersDb.GetAllPhotos();
}

<h2>Gallery</h2>
<ul class="galleryPhotos">
@foreach (var photo in photos)
{
    <li>
        <a href="~/content/img/@photo.PhotosFile">
            <img src="~/content/img/@photo.PhotosFile" alt="@photo.PhotosName" />
        </a>
        <div class="prices"><span>@photo.PhotosDescription</span></div>
    </li>

}
</ul>

